channels
channels-redis
coverage
Django>=4.2,<5.0
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-filter
drf-yasg
mysqlclient
pymysql
Pillow
psycopg2-binary
python-dotenv
requests
redis>=4.6.0
supabase
twilio
whitenoise>=6.4.0
daphne
django-redis
