Django>=4.2,<5.0
djangorestframework
django-cors-headers
Pillow
supabase
drf-yasg
django-filter
python-dotenv
twilio
pymysql
channels
channels-redis
djangorestframework-simplejwt
drf-yasg
python-dotenv
requests
daphne
redis
coverage


