Django>=4.2,<5.0
djangorestframework
django-cors-headers
mysqlclient
Pillow
supabase
drf-yasg
python-dotenv
twilio
channels
channels-redis
djangorestframework-simplejwt
drf-yasg
python-dotenv
requests

